[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
streamlit = "*"
sqlalchemy = "*"
altair = {extras = ["all"], version = "*"}
kafka-python-ng = "*"

[dev-packages]

[requires]
python_version = "3.10"
